*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	cursor: pointer;
	color:black;
}
li{
	list-style: none;
	float:left;
}
.header{
	width:100%;
}
.top_header{
	width:100%;
	height:120px;
	background-color: #cdcdcd;
}
.main_logo{
	width:950px;
	height:120px;
	margin: 0 auto;
}
.logo{
	width:300px;
	height:100px;
	margin-top:10px;
	float:left;
}
.logo a{
	float:left;
	margin-left:10px;
}
.logo img{
	width:100px;
	height:100px;
}
.logo .title{
	margin-top:80px;
}
.logo_info{
	width:200px;
	height:20px;
	margin-top:100px;
	float:right;
	position: relative;
}
.logo_info span{
	float:left;
	margin-left:10px;
	font-size:13px;
}
.logo_info .erwei{
	display: none;
	position: absolute;
	top:20px;
	left:20px	;
	z-index: 999;
}
.store_shop{
	display: inline-block;
	width: 75px;
	height:15px;
	text-align: right;
}
.store_shop a{
	display: inline-block;
	width: 70px;
	height:15px;
	line-height: 5px;
}
.store_shop label{
	display: inline-block;
	width:52px;
	height:15px;
	line-height: 15px;
	float:left;
	cursor: pointer;
}
.store_shop em{
	display: inline-block;
	float:left;
	width:15px;
	height:15px;
	background:url("../images/wustar.png") no-repeat left center;
}
.mobile_erwei{
	display: block;
	height:15px;
}
.mobile_erwei:hover{
	cursor: pointer;
}
.menu_nav{
	width:100%;
	height:35px;
	background-color: #1d1d1d;
}
.nav{
	width:950px;
	height:35px;
	margin: 0 auto;
}

.menu_nav .nav li{
	height:35px;
	width:70px;
	line-height: 35px;
	text-align: center;
	margin-left:10px;

}
.menu_nav .nav li a{
	display: inline-block;
	height:35px;
	line-height: 35px;
	width:70px;
	color:white;
}
.banner{
	width:940px;
	height:270px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	border:10px solid #dedede;
	position: relative;
}
.banner_list{
	width:940px;
	height:270px;
	position: relative;
}
.banner_list li{
	z-index: 0;
	opacity: 0;
	display: block;
	position: absolute;
	width:100%;
	height:270px;
	transition:opacity 2s;
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
	-o-transition:opacity 2s;
	top:0;
}
.banner_list img{
	width:940px;
	height:270px;
}
.banner_arrow .arrow_prev,.banner_arrow .arrow_next {
	background-color:#FB4472;
	color: #fff;
	display: block;
	height: 45px;
	width: 29px;
	line-height: 45px;
	overflow: hidden;
	position: absolute;
	z-index: 12;
	top:120px;
}
.banner_arrow .arrow_prev{
	left:10px;
}
.banner_arrow .arrow_next{
	right:10px;
	
}
.banner_arrow .arrow_prev:hover,.banner_arrow .arrow_next:hover {
    background-color: #3F3E3E;
}
.banner_arrow .arrow_prev i,.banner_arrow .arrow_next i {
    background:url(../images/arrow.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 21px;
    margin: 12px 0 0 9px;
    overflow: hidden;
    width: 13px;
}
.banner_arrow .arrow_prev i{background-position:top left;}
.banner_arrow .arrow_next i{background-position:top right;}

.round{
	position: absolute;
	width: 200px;
	height:11px;
	margin-right:-100px;
	bottom:10px;
	right:50%;
	z-index: 100;
	text-align: center;
}
.round a{
	background-color:#e2e2e2;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-right:7px;
    width: 11px;
	overflow:hidden;
	text-decoration: none;
}

.clear{
	clear:both;
}

.content{
	width:950px;
	height:auto;
	margin: 0 auto;
	margin-top:20px;
}
.content_l{
	float:left;
	width:190px;
}
.content_l .cate{
	width:100%;
	
}
.content_l .cate span{
	color:white;
	background-color: #1d1d1d;
	display: inline-block;
	font-size:12px;
	width:180px;
	font-weight: 700;
	padding-left:10px;
	height:25px;
	line-height: 25px;
}

.content_l .cate li{
	float:none;
}
.content_l .cate li a{
	display: inline-block;
	height:25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: 700px;
	color:#000;
	width:170px;
	padding-left: 20px;
	border-top:1px solid #e4e4e4;
}
.content_l .cate ul{
	border:1px solid #e4e4e4;
}

.content_l .shop_info{
	margin-top:20px;
	width:100%;
	border:2px solid #FFE8C5;
}

.content_l .shop_info .shop_va{
	display: inline-block;
	width:100%;
	height:45px;
	line-height: 45px;
}
.content_l .shop_info .shop_va img{
	width:190px;
	height:45px;
}
.wangwang{
	border-bottom:1px solid #dedede;
}
.wangwang a{
	display: inline-block;
	height:20px;
	line-height: 20px;
}
.wangwang a img{
	vertical-align: middle;
}
.content_r{
	float:left;
	width:750px;
	margin-left:10px;
}
.star1{
	display: block;
	float:left;
	width:16px;
	height:16px;
	background:url("../images/star_1.png")no-repeat;
}
.star2{
	display: block;
	float:left;
	width:16px;
	height:16px;
	background:url("../images/star_2.gif")no-repeat;
}
.star3{
	display: block;
	float:left;
	width:16px;
	height:16px;
	background:url("../images/star_3.gif")no-repeat;
}
.star4{
	display: block;
	float:left;
	width:16px;
	height:16px;
	background:url("../images/star_4.gif")no-repeat;
}
.content_r .list_tip{
	width:100%;
	height:25px;
	font-size:15px;
	border-bottom: 1px solid #1d1d1d;
}
.list_tip .list_title{
	float:left;
}
.list_tip .list_more{
	float:right;
	margin-right:50px;
	font-size: 13px;
}
.list_tip .list_more a{
	color:#3f3e3e;
}

.content_r .item_list{
	width:750px;
	height:auto;
}
.content_r .item_list .item{
	width:242px;
	height:326px;
	margin-right:12px;
	float:left;
}
.content_r .item_list .item .photo{
	width:242px;
	height:242px;
}
.content_r .item_list .item .photo img{
	width:242px;
	height:242px;
}
.content_r .item_list .item .detail{
	width:242px;
	height:84px;
}
.content_r .item_list .item .detail a{
	display: block;
	width:100%;
	height:30px;
	font-size: 12px;
	color:#36c;
}
.content_r .item_list .item .detail a:hover{
	text-decoration: underline;
}
.content_r .item_list .item .detail span{
	display: inline-block;
	width:100%;
	height:19px;
	line-height: 19px;
	color:#ababab;
	font-size: 12px;
}
.content_r .item_list .item .detail span .pfont{
	color:#f40;
	font-size:14px;
	font-weight:bold;
}
.content_r .item_list .last{
	margin-right:0px;
}

.shop_info li{
	float:none;
	display: inline-block;
	height:30px;
	width:180px;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 10px;
	line-height: 30px;
}
.shop_info .shop_honor{
	padding-left:0px;
	width:140px;
	height:40px;
	margin-top:10px;
	
	line-height: 20px;
}
.shop_info .shop_honor div{
	float:left;
	font-size: 12px;
	width:30px;
	height:40px;
	text-align: center;
	margin-left:14px;
}
.shop_info .shop_honor span{
	display: inline-block;
	width:30px;
	height:20px;
	line-height: 20px;
	font-size: 12px;
}
.shop_info .shop_in{
	margin-top:10px;
	width:180px;
	height:30px;
}
.shop_info .shop_in span{
	display: inline-block;
	float:left;
	font-size: 12px;
	width:60px;
	line-height: 25px;
	height:25px;
	text-align: center;
	border:1px solid #dedede;
	background-color: #efefef;
	margin-left:10px;
}

.xinyu span{
	display: inline-block;
	width: 120px;
	height:16px;
	line-height: 16px;
}
.shop_honor .score{
	color:#FF8100;
}
.content_l .cate .optgroup{
	margin-top:2px;
	cursor: pointer;
}
.content_l .cate .optgroup ul{
	display: none;
}
.content_l .cate .optgroup span{
	background-color:#939292;
}
.footer{
	width:100%;
	height:100px;
	margin-top:30px;
	background-color: #dedede;
}
.footer_info{
	width:950px;
	height:100px;
	margin:0 auto;
}
.footer_info span{
	display: inline-block;
	color:#7c7c7c;
	font-size: 12px;
	width:100%;
	margin-top:30px;
	text-align: center;
}
.footer_info a{
	color:#7c7c7c;
}
.page{
	width:750px;
	height:30px;
	margin: 0 auto;
	text-align: center;
}
.page a{
	display: inline-block;
	height:30px;
	line-height: 30px;
	width:50px;
	border:1px solid #efefef;
	color:#ababab;
}
.page a:hover{
	color:red;
}
.page .page_n{
	width:30px;
}
.page .page_cur{
	border:none;
	width:20px;
}
